


<section class="registration-one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%">
    <div class="registration-one__bg"
        style="background-image: url(assets/assetssavvy/images/resources/registration-one-bg.jpg);"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="registration-one__left">
                    <div class="section-title">
                        <span class="section-title__tagline"></span>
                        <h2 class="section-title__title">Ingresa  a tu cuenta y gestiona tus solicitudes
                        </h2>
                    </div>
                </div>
            </div>
          
            <div class="col-xl-6 col-lg-6">
                <div class="registration-one__right wow slideInRight" data-wow-delay="100ms"
                    data-wow-duration="2500ms">
                    <div class="registration-one__right-form">
                        <div class="title-box">
                            <h4>Ingresa a SavvyLatinos</h4>
                        </div>
                        <div class="form-box">
                            <section class="">
                                <form [formGroup]="ngFormLogin" (ngSubmit) ="onLogin()">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Usuario</label>
                                        <input type="email" class="form-control floating" id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email"required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
                                        <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                            <div *ngIf="fval.email.errors.required">El email es requerido</div>
                                            <div *ngIf="fval.email.errors.email">Ingrese una direccion email valida</div>
                                        </div>
                                    </div>
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Contraseña</label>
                                        <input   type="password"id="password" placeholder="*******" formControlName="password" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}"  required class="form-control floating">
                                            <div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
                                                <div ngClass="fval.password.errors.required">
                                                La contraseña es requerida.
                                                </div>
                                            </div>
                                    </div>
                                    <div class="text-right">
                                        <div [hidden]="!isError">
                                            <div style="color: red;text-align: left;">
                                            {{message}}
                                            </div>
                                        </div>
                                    </div>
                                    <div style="text-align: right; padding-top: 10%;">
                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"  style="background-color:#2800dd; padding: 4%;border-radius: 12%;">Entrar</button>
                                   
                                    </div>                      
                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>