<section class="contact-page" style="padding: 150px 0px 90px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="contact-page__left">
                    <div class="section-title">
                        <span class="section-title__tagline">Crear empresa</span>
                        <h2 class="section-title__title">Registre<br> su LLC.</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9">
                <div class="section-title">
                        
                        <h2 class="section-title__title"[hidden]="steep!=0">Sobre su empresa LLC</h2>
                        <h2 class="section-title__title"[hidden]="steep!=1">Encargados de la empresa
                            Socios</h2>
                        <h2 class="section-title__title"[hidden]="steep!=2">Persona responsable</h2>
                        <!-- <h2 class="section-title__title" [hidden]="steep!=3">Persona responsable </h2> -->
                    <p [hidden]="steep!=2">Esta es la persona responsable que se muestra en el número de identificación fiscal, cuenta bancaria y otros documentos.</p>
                 </div>
                <div class="contact-page__right">
                    <form  (ngSubmit) ="checkOne()"  [formGroup]="ngFormOne"  [hidden]="steep!=0" action="" class="comment-one__form contact-form-validated" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <!-- <div class="comment-form__input-box">
                                    <p>Nombre de la empresa</p>
                                    <input type="text" placeholder="Nombre de la empresa" name="name">
                                </div> -->
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Nombre de la empresa</label>
                                    <input type="text" class="form-control floating" id="companyName" placeholder="Nombre de la empresa" formControlName="companyName" [(ngModel)]="quote.companyName"required [ngClass]="{ 'is-invalid': submitted && fval.companyName.errors }">
                                    <div *ngIf="submitted && fval.companyName.errors" class="invalid-feedback">
                                        <div *ngIf="fval.companyName.errors.required">El nombre de la empresa es un campo obligatorio</div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-xl-6 col-lg-6">
                               
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box"  >
                                    <label class="control-label"style="font-size: 18px;" >
                                        <span style="color: red;">*</span>
                                         Descripción</label>
                                      <textarea class="form-control height-80" id="direccion" formControlName="description" placeholder="Descripción " [(ngModel)]="quote.description"
                                      [ngClass]="{ 'is-invalid': submitted && fval.description }"
                                      required></textarea>
                                      <span class="required"></span>
                                      <div *ngIf="submitted && fval.description.errors" class="invalid-feedback">
                                          <div *ngIf="fval.description.errors.required" class="errorLabel">
                                           La descripción es un campo obligatorio                                          </div>
                                      </div>
                                  </div>
                                <div style="text-align: right; ">
                                    <!-- <button  class="thm-btn comment-form__btn" (click)="back(steep)"> Atras</button> -->
                                    <button type="submit" class="thm-btn comment-form__btn"><a >Siguiente</a></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form  [formGroup]="ngFormTwo"  [hidden]="steep!=1" action="" (ngSubmit)="checkTwo()"  class="comment-one__form contact-form-validated" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Dirección de la empresa</label>
                                    <input type="text" class="form-control floating" id="compnyAddress" placeholder="Dirección de la empresa" formControlName="companyAddress" [(ngModel)]="quote.companyAddress"required [ngClass]="{ 'is-invalid': submitted2 && fval2.companyAddress.errors }">
                                    <div *ngIf="submitted2 && fval2.companyAddress.errors" class="invalid-feedback">
                                        <div *ngIf="fval2.companyAddress.errors.required">La dirección de la empresa es un campo obligatorio</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Dirección de recepción de documentos</label>
                                    <input type="text" class="form-control floating" id="compnyAdrecipientAddressdress" placeholder="Dirección de recepción de documentos" formControlName="recipientAddress" [(ngModel)]="quote.recipientAddress"required [ngClass]="{ 'is-invalid': submitted2 && fval2.recipientAddress.errors }">
                                    <div *ngIf="submitted2 && fval2.recipientAddress.errors" class="invalid-feedback">
                                        <div *ngIf="fval2.recipientAddress.errors.required">La dirección de recepción de documentos es un campo obligatorio</div>
                                    </div>
                                </div>                             
                            </div>
                           
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Nombre del socio</label>
                                    <input type="text" class="form-control floating" id="associateName" placeholder="Nombre del socio" formControlName="associateName" [(ngModel)]="quote.associateName"required [ngClass]="{ 'is-invalid': submitted2 && fval2.associateName.errors }">
                                    <div *ngIf="submitted2 && fval2.associateName.errors" class="invalid-feedback">
                                        <div *ngIf="fval2.associateName.errors.required">Indique por favor el nombre de un socio</div>
                                    </div>
                                </div>                             
                            </div>   
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Dirección del socio</label>  <input type="checkbox" name=""> Utilizar la nuestra.
                                    <input type="text" class="form-control floating" id="associateAddress" placeholder="Dirección del socio" formControlName="associateAddress" [(ngModel)]="quote.associateAddress"required [ngClass]="{ 'is-invalid': submitted2 && fval2.associateAddress.errors }">
                                    <div *ngIf="submitted2 && fval2.associateAddress.errors" class="invalid-feedback">
                                        <div *ngIf="fval2.associateAddress.errors.required">Indique por favor la drección del socio</div>
                                    </div>
                                </div>                             
                            </div>   
                                                    
                            <div class="col-xl-12 col-lg-12">        
                                <div class="comment-form__input-box" style="color: #2800DD;">
                                   <i class="fa fa-plus"></i> <a style="color: #2800DD;" >Añadir más socios</a>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-xl-12 col-lg-12" style="padding-top: 10px;">
                                    <div style="text-align: right; ">
                                    <button  class="thm-btn comment-form__btn" (click)="back(steep)"> Atras</button>
                                    <button type="submit" class="thm-btn comment-form__btn"><a>Siguiente</a></button>  </div>
                            </div>
                            </div>
                        </div>
                    </form>
                    <form  [formGroup]="ngFormThree"  [hidden]="steep!=2" action="" (ngSubmit)="checkThree()"  class="comment-one__form contact-form-validated" novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Nombre de la persona responsable</label>
                                    <input type="text" class="form-control floating" id="liableName" placeholder="Nombre del socio" formControlName="liableName" [(ngModel)]="quote.liableName"required [ngClass]="{ 'is-invalid': submitted3 && fval3.liableName.errors }">
                                    <div *ngIf="submitted3 && fval3.liableName.errors" class="invalid-feedback">
                                        <div *ngIf="fval3.liableName.errors.required">Indique por favor el nombre de un socio</div>
                                    </div>
                                </div>                             
                            </div>   
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Email de la persona responsable</label>
                                    <input type="email" class="form-control floating" id="liableEmail" placeholder="Email del socio" formControlName="liableEmail" [(ngModel)]="quote.liableEmail"required [ngClass]="{ 'is-invalid': submitted3 && fval3.liableEmail.errors }">
                                    <div *ngIf="submitted3 && fval3.liableEmail.errors" class="invalid-feedback">
                                        <div *ngIf="fval3.liableEmail.errors.required">Indique por favor el nombre de un socio</div>
                                    </div>
                                </div>                             
                            </div> 
                            <div class="col-xl-12 col-lg-12">
                                <div class="form-group comment-form__input-box">
                                    <label class="focus-label">
                                        <span style="color: red;">*</span>
                                        Teléfono de la persona responsable</label>
                                    <input type="email" class="form-control floating" id="liablePhone" placeholder="Telefono del socio" formControlName="liablePhone" [(ngModel)]="quote.liablePhone"required [ngClass]="{ 'is-invalid': submitted3 && fval3.liablePhone.errors }">
                                    <div *ngIf="submitted3 && fval3.liablePhone.errors" class="invalid-feedback">
                                        <div *ngIf="fval3.liablePhone.errors.required">Indique por favor el nombre de un socio</div>
                                    </div>
                                </div>                             
                            </div>    
                            
                        </div>
                        <div class="col-xl-12 col-lg-12">
                            <div class="comment-form__input-box">
                               <p>¿Cuenta con ITIN?</p>
                               <input type="checkbox" name="">Si
                               <input type="checkbox" name="">No
                            </div>
                        </div>
                            
    
                        <div class="row">
                            <div class="col-xl-12 col-lg-12" style="padding-top: 10px;">
                                
                                <button  class="thm-btn comment-form__btn" (click)="back(steep)"> Atras</button>
                               <button type="submit" class="thm-btn comment-form__btn"><a >Aceptar</a></button>   
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>