


<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content">

    </div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->


<section class="main-slider main-slider-one">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": false, "effect": "fade", "": {
    "el": "",
    "type": "bullets",
    "clickable": false
    },
    
    "autoplay": {
    "delay": 7000
    }}'>

        <div class="swiper-wrapper">
            <!--Start Single Swiper Slide-->
            <div class="swiper-slide">
                
                
                <div class="image-layer"
                    style="background-image: url(assets/assetssavvy/images/backgrounds/main-slider-v1-1.jpg);"></div>

                <!-- /.image-layer -->
                <div class="container">
                    <div class="main-slider__content">
                        <div class="main-slider__content-icon-one">
                            <span class="icon-lamp"></span>
                        </div>
                        <div class="main-slider__content-icon-two">
                            <span class="icon-human-resources"></span>
                        </div>
                     
                        <div class="main-slider__content" style="padding-bottom: 40px;">
                            <h2>Necesitas crear tu empresa?</h2>
                        </div>
                        <h2 class="main-slider__content-title">Diponibles para <br>
                            </h2>
                            <h1 style="color: #2800DD;">
                                <span style="color: #EA0086;">
                                    <ngx-typed-js  [strings]="['Venezuela', 'Colombia','España']" [loop]="true" [typeSpeed]="90">
                                        <h1 class="typing" style="color: #EA0086;"></h1>
                                      </ngx-typed-js>
                                </span>
                            </h1>
                        <p class="main-slider__content-text">Trámitamos todos los documentos que necesitas</p>
                        <div class="main-slider__content-btn">
                            <a href="index.html#" class="thm-btn">Contactanos</a>
                        </div>
                        <div class="main-slider-one__img">
                            <img src="assets/assetssavvy/images/backgrounds/main-slider-v1-img.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        

    </div>
</section>

<section class="why-choose-one">
    <div class="container">
        <div class="row">
           
            <div class="col-xl-6 col-lg-6">
                <div class="video-one__box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"
                    style="background-image: url(assets/assetssavvy/images/video.jpg)">
                    <!-- <div class="video-one__box-title">
                        <h2>Savvylatinos</h2>
                    </div> -->
                    
                    <div class="icon wow zoomIn" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <a class="video-popup" title="latinos Video Gallery"
                            href="assets/assetssavvy/images/savvylatinos.mp4">
                            <span class="icon-play"></span>
                        </a>
                        <span class="border-animation border-1"></span>
                        <span class="border-animation border-2"></span>
                        <span class="border-animation border-3"></span>
                    </div>
                </div>
            </div>
            <!--End Why Choose One Right-->
            <!--Start Why Choose One Left-->
            <div class="col-xl-6 col-lg-6" style="padding-top:50px;">
                <div class="why-choose-one__left">
                    <div class="section-title">
                        <span class="section-title__tagline">Creación de empresas LLC y CORP</span>
                        <h2 class="section-title__title">Creamos su empresa en <br>USA</h2>
                    </div>
                    <p class="why-choose-one__left-text">Tramites y domumentación para la conformación de empresas </p>
                    <div class="why-choose-one__left-learning-box">
                        <div class="icon">
                            <span class="icon-professor"></span>
                        </div>
                        <div class="text">
                            <h4>Que gestionamos?</h4>
                        </div>
                    </div>
                    <div class="why-choose-one__left-list">
                        <ul class="list-unstyled">
                            <li class="why-choose-one__left-list-single">
                                <div class="icon">
                                    <span class="icon-confirmation"></span>
                                </div>
                                <div class="text">
                                    <p>LLC o CORP para empresas</p>
                                </div>
                            </li>

                            <li class="why-choose-one__left-list-single">
                                <div class="icon">
                                    <span class="icon-confirmation"></span>
                                </div>
                                <div class="text">
                                    <p>ITIN para personas natural</p>
                                </div>
                            </li>

                            
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Why Choose One Left-->

        </div>
    </div>
</section>
<section class="registration-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="registration-two__wrapper">
                    <div class="shape1 zoom-fade"><img src="assets/assetssavvy/images/shapes/thm-shape2.png" alt="" /></div>
                    <div class="shape2 wow slideInRight" data-wow-delay="100ms" data-wow-duration="2500ms"><img
                            src="assets/assetssavvy/images/shapes/thm-shape3.png" alt="" /></div>
                    <div class="registration-two__left">
                        <h2 class="registration-two__left-text">Necesita tramitar sus documentos<br> y operar ahora!</h2>
                    </div>
                    <div class="registration-two__right">
                        <div class="registration-two__right-btn">
                            <a href="empresa.html" class="thm-btn">Crear empresa</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="features-one">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Que ofrecemos?</span>
            <h2 class="section-title__title">Servicios digitales</h2>
        </div>
        <div class="row" >
            <!--Start Single Features One-->
            <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" *ngFor="let service of info[0].services">
                <div class="features-one__single">
                    <div class="features-one__single-icon">
                        <span class="{{service.icon}}"></span>
                    </div>
                    <div class="features-one__single-text">
                        <h4><a >{{service.Title}}</a></h4>
                     
                    </div>
                </div>
            </div>
            <!--End Single Features One-->

      
            <!--End Single Features One-->
        </div>
    </div>
</section>

<section class="registration-one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%">
    <div class="registration-one__bg"
        style="background-image: url(assets/assetssavvy/images/resources/registration-one-bg.jpg);"></div>
    <div class="container">
        <div class="row">
            <!--Start Registration One Left-->
            <div class="col-xl-7 col-lg-7">
                <div class="registration-one__left">
                    <div class="section-title">
                        <span class="section-title__tagline">Registrese GRATIS</span>
                        <h2 class="section-title__title">Registre su cuenta para solitar<br>  un servicio <span
                                class="odometer" data-count="700">00</span> <br>empresas creadas</h2>
                    </div>
                    <!-- <p class="registration-one__left-text">There are many variations of passages of lorem ipsum
                        available but the majority have suffered alteration in some form.</p> -->
                    <div class="registration-one__left-transform-box">
                        <div class="registration-one__left-transform-box-icon">
                            <span class="icon-online-course"></span>
                        </div>
                        <div class="registration-one__left-transform-box-text">
                            <h3><a href="index.html#">Apertura y activación de documentación juridica</a></h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Registration One Left-->

            <!--Start Registration One Right-->
            <div class="col-xl-5 col-lg-5">
                <div class="registration-one__right wow slideInRight" data-wow-delay="100ms"
                    data-wow-duration="2500ms">
                    <div class="registration-one__right-form">
                        <div class="title-box">
                            <h4>LLene el formulario</h4>
                        </div>
                        <div class="form-box">
                            <form method="post" action="index.html">
                               
                                <div class="form-group">
                                    <input type="email" name="email" placeholder="Email" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" placeholder="Telefono" required="">
                                </div>
                                
                                <button class="registration-one__right-form-btn" type="submit"
                                    name="submit-form">
                                    <span class="thm-btn">Registrarse</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Registration One Right-->
        </div>
    </div>
</section>


<!--Start Footer One-->
<footer class="footer-one">
   <!--  <div class="footer-one__bg" style="background-image: url(assets/assetssavvy/images/backgrounds/footer-v1-bg.jpg);">
    </div> --><!-- /.footer-one__bg -->
    <div class="footer-one__top">
        <div class="container">
            <div class="row">
                <!--Start Footer Widget Column-->
                <div class="col-xl-3 col-lg-3 col-md-3 wow animated fadeInUp" data-wow-delay="0.1s">
                    <div class="footer-widget__column footer-widget__about">
                        <div class="footer-widget__about-logo">
                            <a href="index.html"><img src="assets/assetssavvy/images/resources/footer-logo.png" alt=""></a>
                            <h3 class="footer-widget__title">SAVVY LATINOS</h3>
                        </div>
                    </div>
                </div>
                

                <div class="col-xl-3 col-lg-3 col-md-3 wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="footer-widget__column footer-widget__links">
                        <h3 class="footer-widget__title">Email</h3> 
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="mailto:customercare@savvylatinos.co">customercare@savvylatinos.co</a></li>
                            
                        </ul>
                    </div>
                </div>
                

                <div class="col-xl-3 col-lg-3 col-md-3 wow animated fadeInUp" data-wow-delay="0.7s">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Telefono</h3>
                        <p class="phone"><a href="tel:+17866281622">+1 786 6281622</a></p>
                        
                        
                    </div>
                </div>
                

                <div class="col-xl-3 col-lg-3 col-md-3 wow animated fadeInUp" data-wow-delay="0.9s">
                    <div class="footer-widget__column footer-widget__social-links">
                        <h3 class="footer-widget__title">Direccion:</h3>
                        <p> One Brickell, 801 Brickell Ave. 8th Floor, Miami, FL, 33131, USA</p>
                        <ul class="footer-widget__social-links-list list-unstyled clearfix">
                            
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/savvylatinos" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
                <!--End Footer Widget Column-->

            </div>
        </div>
    </div>

    <!--Start Footer One Bottom-->
    <div class="footer-one__bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="footer-one__bottom-inner">
                        <div class="footer-one__bottom-text text-center">
                            <p>&copy; Copyright 2022 SavvyLatinos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Footer One Bottom-->
</footer>
