/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.person-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.person-radio-button {
  margin: 6px;
} 
.error {
  color: red;
}